body{
    background-color: white;
    font-family: Verdana, sans-serif;
    margin: 0%;
}


/* Banner */
#banner{
    color: black;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

#head-text{
    font-size: max(18px, 3.6vw);
    margin-right: 1%;
}

#date-text{
    font-size: max(12px, 1.4vw);
}

#banner-text{
    margin-top: auto;
}

#right-banner{
    font-style: italic;
    font-size: max(12px, 1.4vw);
    margin-top: auto;
    margin-left: 1%;
    white-space: nowrap ;
}


/* Table */
table {
    border-spacing: 0;
    margin-left: 2%;
    margin-right: 2%;
    font-size: max(12px, 1.25vw);
    border-collapse: collapse; 
}

th, td{
    min-width: 150px; 
    border: 1px solid black;
}

tr:nth-child(2n+1){
    border-bottom: 6px solid black;   
}


/* Scrollbar */
.scroll {
    overflow: scroll;
    scrollbar-width: none;
}

.scroll::-webkit-scrollbar { 
    width: 0;
    height: 0;
}


/* Header */
.serveries{
    background-color: #001e6b;
    color:white;
    border: 1px solid black;
    height: 45px;
}

.serveries th{
    border: 1px solid black;
}


/* First Column */
.row-menu td:nth-child(1){
    background-color: lightgray;
    font-weight: bold;
    text-align: center;
    min-width: 50px;
    border: 1.5px solid black;
}

.subtext{
    font-style: italic;
    font-weight: normal;
    text-align: center;
}





/* Text Element Inside Cell */
ul {
    margin: 0%;
    padding: 0%;
}

li {
    margin: 8% 10% 8% 0%;
    margin-left: max(20px, 10%);
}

/* Hover Effect */
@media only screen and (hover){
    .row-menu td:hover{
        background-color: lightblue;
    }
}

/* Click effect */
#priority .clicked{
    background-color: lightgreen;
}

/* Bottom */
.dietrow{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100px;
}

.diet, #schedule-toggle{
    flex: 1 1 auto;
    margin: 0;
    background-color: #4d99d2;
    color: white;
    font-weight: bold;
    font-size: max(12px, 1.4vw);
    border: dotted 1px black;
    border-top: solid 2px black;
}

.diet.selected{
    background-color:green;
}


/* Alerts */
#alert{
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 55px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

#alert button{
    font-size: max(10px, 1.2vw);
    background-color: #001e6b;
    flex: 1 1 auto;
    border: 1px solid black;
    color: white;
    margin: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

#schedule-toggle{
    background-color: green;
}

#alert button:active, #schedule-toggle:active{
    background-color: #195888;
}

#image-container{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border: 5px solid black;
}

#schedule-pic{    
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.invisible{
    display:none
}