body{
    background-color: white;
    font-family: Verdana, sans-serif;
}

/* Banner */
#banner{
    color: black;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 0.1rem solid black;
}

#head-text{
    font-size: 3.6vw;
    margin-right: 1%;
}

#date-text{
    font-size: 1.6vw;
}


/* Table */
table {
    border-spacing: 0;
    border: 0.1rem solid;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.25vw;
}

/* Header */
.serveries{
    background-color: #001e6b;
    color:white;
    border: 0.1rem solid black;
    font-size: 1.4vw;
}

.serveries th{
    border: 0.1rem solid black;
}


/* First Column */
.row-menu:nth-child(even) td:nth-child(1){
    background-color: lightgray;
    border: 0.1rem solid black;
    font-weight: bold;
    width: 12%;
}

.row-menu:nth-child(odd) td:nth-child(1){
    background-color: lightgray;
    border: 0.1rem solid black;
    font-weight: bold;
    width: 12%;
}




/* Not First Column */
.row-menu:nth-child(even) td:nth-child(n+2){
    border: 0.01rem solid black;
}

.row-menu:nth-child(odd) td:nth-child(n+2){
    border: 0.01rem solid black;
}


/* Text Element Inside Cell */
ul {
    list-style-position: outside;
    margin: 0;
    padding-left: 10%;
}

li {
    margin: 5% 10% 5% 0;
}



/* Hover Effect */
#priority .row-menu td:hover{
    background-color: lightblue;
}
